$volpopborder:	rgb(90, 80, 80);
$volpopbg:		rgba(20, 10, 0, 0.15);

$btnTxt:		#2A2A2A;
$btnBg:			#4495DF;
$btnActTxt:		#5A5A5A;
$btnActCol1:	#33ccff;
$btnActCol2:	#00ff99;
$btnHovCol1:	#77ddff;
$btnHovCol2:	#80ffcc;
