/* **************************************************************************** */
/*                                                                              */
/*                                                         :::      ::::::::    */
/*    powmenu.scss                                       :+:      :+:    :+:    */
/*                                                     +:+ +:+         +:+      */
/*    By: fclivaz <fclivaz@student.42lausanne.ch>    +#+  +:+       +#+         */
/*                                                 +#+#+#+#+#+   +#+            */
/*    Created: 2026/02/07 22:57:03 by fclivaz           #+#    #+#              */
/*    Updated: 2026/02/07 22:57:03 by fclivaz          ###   LAUSANNE.ch        */
/*                                                                              */
/* **************************************************************************** */

@import "_colors"

.powermenu
{
	font-family: MesloLGMDZ Nerd Font Mono;
	background-color: rgba(0, 0, 0, 0);
}

.powbtnbox
{
	border-radius: 10px;
	background-color: $btnBg;
}

.powbtnbox:hover
{
	background-color: $btnActCol2;
}

.powbtnbox:focus
{
	background-color: $btnActCol2;
}

.powbtn .powbtnicon
{
	transition: 0.25s;
}

.powbtn .powbtntext
{
	font-size: 100%;
}
