/* **************************************************************************** */
/*                                                                              */
/*                                                         :::      ::::::::    */
/*    powmenu.scss                                       :+:      :+:    :+:    */
/*                                                     +:+ +:+         +:+      */
/*    By: fclivaz <fclivaz@student.42lausanne.ch>    +#+  +:+       +#+         */
/*                                                 +#+#+#+#+#+   +#+            */
/*    Created: 2026/02/07 22:57:03 by fclivaz           #+#    #+#              */
/*    Updated: 2026/02/07 22:57:03 by fclivaz          ###   LAUSANNE.ch        */
/*                                                                              */
/* **************************************************************************** */

@import "../_device/colors"

.powermenu
{
	all: unset;
	font-family: MesloLGMDZ Nerd Font Mono;
	background: transparent;
}

.powerbtnbox
{
	border-radius: 10px;
	background-color: $btnBg;
}

.powerbtnbox:hover, .powerbtnbox:focus
{
	background-color: $btnActCol2;
}

.powerbtn, .powbtnicon
{
	transition: 0.25s;
}

.powerbtn, .powbtntext
{
	font-size: 100%;
}
